/* Resetando margens e padding */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  color:#FFFFFF;
  background-color:#000000;
  overflow-x: clip; /* Impede o scroll horizontal indesejado */
}

/* Banner no topo */
.banner {
  width: 100%;
  height: 0;
  padding-top: 53%; /* Mantém a proporção 16:9 da imagem!! */
  background: url('bannertopo.png') no-repeat center center;
  background-size: cover; /* Ajusta a largura da imagem e mantém a altura proporcional */
}

/* Imagens deslizando da direita para o centro */
.scrolling-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

/* Contêiner de cada imagem com texto */
.image-container {
  display: flex; /* Coloca a imagem e o texto lado a lado */
  align-items: center; /* Alinha verticalmente no centro */
  justify-content: space-between; /* Espaça o conteúdo */
  width: 80%; /* O contêiner de imagem ocupa toda a largura disponível */
  opacity: 0;
  transform: translateX(100vw); /* Começa fora da tela à direita */
  transition: opacity 0.5s ease-out, transform 0.5s ease-out; /* Transição suave */
  margin-bottom: 20px;
}

/* Estilo das imagens */
.image-container img {
  width: 25%; /* A imagem ocupará 45% do contêiner */
  height: auto; /* Mantém a proporção da imagem */
}

/* Estilo do texto */
.text-content {
  width: 75%; /* O texto ocupará 45% do contêiner */
  color: #fff; /* Cor do texto */
  font-size: 22px; /* Tamanho do texto */
  padding: 0px 20px 0px 15px; /* Espaçamento interno top right bottom left */
  text-align: justify;
}

/* Quando a imagem e o texto estiverem visíveis */
.image-container.visible {
  opacity: 1;
  transform: translateX(0);
}

.foil-card {
  width: 225px;
  height: 311px;
  position: relative;
  margin: 10px;
  perspective: 1000px;
}

.foil-card-inner {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transform-origin: 50% 50%;
  transition: transform 0.1s;
}

.foil-card-front {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  position: absolute;
  transform: translateZ(0);
  backface-visibility: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.pirata-two {
  font-family: "Pirata One", serif;
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
  color:#e52e31;
}
